<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>Forget Password</h1>

<form action="/match-otp/<%= id %>" method="POST">
    <input type="number" placeholder="ENTER OTP" name="token" />
    <br><br>
    <input type="password" name="newpassword" placeholder="New Password" />
    <button>Confirm</button>
    <br />
</form>

</body>
</html>
