*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
    --blueColor: #55b6b2;
    --grayColor: #f8f8f6;
    --whiteColor: #fff;
    --blackColor: #1b2a39;
  } 
body{
    background-color: var(--grayColor);
    font-family: Helvetica;
    color: var(--blackColor);
    font-size: 14px;
  }



#page1{
    min-height: 100vh;
    width: 100%;
    /* margin: 20px auto; */
    background-color: var(--whiteColor);
    padding: 20px;
    border-radius: 4px;
}
.username{
    padding: 1vh 0;
    height: 25vh;
    width: 100%;
    text-align: center;
    background-color:  #f8f8f6;
    border: 2px solid  #55b6b2 ;

}
.username h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
input[type="number"],
input[type="date"],
input[type="text"]{
  background-color: var(--grayColor);
  border:2px solid var(--blueColor);
  padding:10px 15px;
  border-radius: 4px;
  color: #1b2a39;
  font-size: 14px;
  height: 40px;
}
.payment{
    background-color: var(--grayColor);
    border:2px solid var(--blueColor);
    padding:10px 15px;
    border-radius: 4px;
    color: #1b2a39;
    font-size: 14px;
    height: 40px;
  }
/* .username a{
    background-color: var(--blueColor);
    border:2px solid var(--blueColor);
    padding:10px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
} */

/* .item{
    background-color: var(--grayColor);
    border:2px solid var(--blueColor);
    padding:10px 15px;
    border-radius: 4px;
    color: #1b2a39;
    font-size: 14px;
    height: 40px;
} */
.filterform{
    padding: 1rem;
}
.filter{
    background-color: var(--grayColor);
    border:2px solid var(--blueColor);
    padding:10px 15px;
    border-radius: 4px;
    color: #1b2a39;
    font-size: 14px;
    height: 40px;
  }
  button{
    background-color: var(--blueColor);
    border:2px solid var(--blueColor);
    padding:10px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
  }
  #filter{
    min-height: 71vh;
    width: 100%;
    background-color: #f8f8f6;
    
    border-bottom: 2px solid  #55b6b2 ;
    border-left: 2px solid  #55b6b2 ;
    border-right: 2px solid  #55b6b2 ;

  }
hr{
    border: 1px solid  #55b6b2 ;

}


.table-responsive{
  width: 100%;
  overflow: hidden;
/* background-color: #55b6b2;  */
  /* -webkit-overflow-scrolling: touch; */
  /* margin-top: 10px; */
}
.expense-data {
  width: 100%;
  border-spacing: 0;
}
.expense-data1 {
  width: 100%;
  border-spacing: 0;
}

th{
  background-color: var(--blueColor);
  padding: 10px 5px;
  color: #fff;
  margin-left: -50px;
  /* text-align: left; */
  width:100%;
}


td{
  padding:10px 40px;
}
tr:nth-child(odd) {
  background: var(--grayColor);
}
th:first-child,
td:first-child {
  /* width: 50px; */
  /* text-align:start; */
/* padding-left: 1rem; */
/* width: fit-content; */
}
 

tr{
  display: flex;
  align-items:center;
  justify-content:space-between;
  /* padding: 0px 1rem; */
  
} 

/* tbody{
  width: auto;
  padding: 0rem 1rem;
  background-color: #55b6b2;
} */

th:last-child,
td:last-child {
  text-align: right;
  padding-right: 2rem;
}
